doctype html
html
  head
    title= NodeAuth
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        ul.nav.navbar-nav
            li
                a.navbar-brand(href='/') NodeAuth
            if user
                li    
                    div.user-profile(style={'background-image': 'url(' + profileimage_path  + user.profileimage + ');'})
                li
                    p#user-profile-greeting.text-success Hello, #{user.username}
        ul.nav.navbar-nav.navbar-right
            if user
                li(class=(title == 'Members' ? 'active' : ''))
                    a(href='/') Members
                li
                    a(href='/users/logout') Logout
            else
                li(class=(title == 'Register' ? 'active' : ''))
                    a(href='/users/register') Register
                li(class=(title == 'Log In' ? 'active' : ''))
                    a(href='/users/login') Log In
              
    .container
        block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/alert_messages.js')